@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
  }
  .print\:hidden {
    display: none !important;
  }
  .shadow-xl {
    box-shadow: none !important;
  }
  .bg-slate-50 {
    background-color: white !important;
  }
}
